body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-color: darkblue !important;*/
  background:linear-gradient(to right,#0000FF, #008000) !important; 


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
}

.fade-in {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* right → left image animation */
.slide-right {
  opacity: 0;
  transform: translateX(120px);
  transition: all 0.9s ease;
}

.slide-right.show {
  opacity: 1;
  transform: translateX(0);
}

/* left → right text animation */
.slide-left {
  opacity: 0;
  transform: translateX(-120px);
  transition: all 0.9s ease;
}

.slide-left.show {
  opacity: 1;
  transform: translateX(0);
}

.reveal {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}


